In [19]:
import pandas as pd
import zoneinfo

In [20]:
df = pd.read_csv('/home/valeriaps/PluggyTests/experimental/nubank_credit_card/valeria_2024_01.csv')

In [22]:
df['date'] = df['date'].astype(pd.DatetimeTZDtype(tz=zoneinfo.ZoneInfo('Etc/GMT-3')))
df['category'] = df['category'].astype(pd.CategoricalDtype())
df['title'] = df['title'].astype(pd.StringDtype())
df['amount'] = df['amount'].astype(pd.Float64Dtype())

In [23]:
df.dtypes

date        datetime64[ns, Etc/GMT-3]
category                     category
title                          string
amount                        Float64
dtype: object

In [24]:
df.head()

                       date    category             title  amount
0 2024-01-05 00:00:00+03:00  transporte  Uber *Uber *Trip   19.95
1 2024-01-05 00:00:00+03:00  transporte  Uber *Uber *Trip   16.99
2 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip   15.16
3 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip   17.95
4 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip    1.31

In [27]:
unique_categories = set(df['category'])
unique_categories

{'casa',
 'chargeback_brazil_due',
 'eletrônicos',
 'outros',
 'payment',
 'restaurante',
 'saúde',
 'serviços',
 'transporte'}

In [35]:
grouped_df = df.groupby('category')['amount'].agg(sum)
grouped_df

category
casa                      798.15
chargeback_brazil_due      -36.8
eletrônicos               233.78
outros                      29.8
payment                 -2712.78
restaurante               958.47
saúde                      350.0
serviços                    92.7
transporte                173.87
Name: amount, dtype: Float64