In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import parse_credit_card_lib
import importlib
importlib.reload(parse_credit_card_lib)

In [4]:
FILE_PATH = './nubank_credit_card/valeria_2024_01.csv'

In [5]:
df = parse_credit_card_lib.get_data(FILE_PATH)
df.head()

                       date    category             title  amount
0 2024-01-05 00:00:00+03:00  transporte  Uber *Uber *Trip   19.95
1 2024-01-05 00:00:00+03:00  transporte  Uber *Uber *Trip   16.99
2 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip   15.16
3 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip   17.95
4 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip    1.31

In [ ]:
parse_credit_card_lib.get_total_by_category(df)

category
casa                      798.15
chargeback_brazil_due      -36.8
eletrônicos               233.78
outros                      29.8
payment                 -2712.78
restaurante               958.47
saúde                      350.0
serviços                    92.7
transporte                173.87
Name: amount, dtype: Float64

In [ ]:
parse_credit_card_lib.add_new_category(df, 'streaming')

In [ ]:
parse_credit_card_lib.get_total_by_category(df)

category
casa                      798.15
chargeback_brazil_due      -36.8
eletrônicos               233.78
outros                      29.8
payment                 -2712.78
restaurante               958.47
saúde                      350.0
serviços                    92.7
transporte                173.87
streaming                    0.0
Name: amount, dtype: Float64

In [ ]:
df = parse_credit_card_lib.batch_update_category(df, 'outros', 'streaming')

In [ ]:
parse_credit_card_lib.get_total_by(df, 'category')

category
casa                      798.15
chargeback_brazil_due      -36.8
eletrônicos               233.78
outros                       0.0
payment                 -2712.78
restaurante               958.47
saúde                      350.0
serviços                    92.7
transporte                173.87
streaming                   29.8
Name: amount, dtype: Float64

In [ ]:
parse_credit_card_lib.get_transactions_per_category(df, 'casa')

                        date category                   title  amount
17 2023-12-30 00:00:00+03:00     casa  Sup Epa Cento Cinq e T   92.66
24 2023-12-25 00:00:00+03:00     casa  Pet Love*Order10400198   80.51
37 2023-12-06 00:00:00+03:00     casa        Leroy Merlin 5/6  624.98

In [ ]:
parse_credit_card_lib.date_to_purchase_month(df['date'][0])

2024/1

In [ ]:
new_col = df['date'].apply(parse_credit_card_lib.date_to_purchase_month)

In [ ]:
df.insert(1, 'purchase_month', new_col)

In [ ]:
parse_credit_card_lib.get_total_by(df, 'purchase_month')

purchase_month
2023/12   -836.92
2024/1     724.11
Name: amount, dtype: Float64