In [228]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [229]:
import pandas as pd
import parse_credit_card_lib
import importlib
importlib.reload(parse_credit_card_lib)

In [230]:
FILE_PATH = '/home/valeriaps/PluggyTests/experimental/nubank_credit_card/valeria_2024_01.csv'

In [231]:
df = parse_credit_card_lib.get_data(FILE_PATH)
df.head()

                       date    category             title  amount
0 2024-01-05 00:00:00+03:00  transporte  Uber *Uber *Trip   19.95
1 2024-01-05 00:00:00+03:00  transporte  Uber *Uber *Trip   16.99
2 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip   15.16
3 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip   17.95
4 2024-01-04 00:00:00+03:00  transporte  Uber *Uber *Trip    1.31

In [232]:
parse_credit_card_lib.get_total_by_category(df)

category
casa                      798.15
chargeback_brazil_due      -36.8
eletrônicos               233.78
outros                      29.8
payment                 -2712.78
restaurante               958.47
saúde                      350.0
serviços                    92.7
transporte                173.87
Name: amount, dtype: Float64

In [233]:
parse_credit_card_lib.add_new_category(df, 'streaming')

In [234]:
parse_credit_card_lib.get_total_by_category(df)

category
casa                      798.15
chargeback_brazil_due      -36.8
eletrônicos               233.78
outros                      29.8
payment                 -2712.78
restaurante               958.47
saúde                      350.0
serviços                    92.7
transporte                173.87
streaming                    0.0
Name: amount, dtype: Float64

In [235]:
df = parse_credit_card_lib.batch_update_category(df, 'outros', 'streaming')

In [236]:
parse_credit_card_lib.get_total_by_category(df)

category
casa                      798.15
chargeback_brazil_due      -36.8
eletrônicos               233.78
outros                       0.0
payment                 -2712.78
restaurante               958.47
saúde                      350.0
serviços                    92.7
transporte                173.87
streaming                   29.8
Name: amount, dtype: Float64

In [237]:
parse_credit_card_lib.get_transactions_per_category(df, 'casa')

                        date category                   title  amount
17 2023-12-30 00:00:00+03:00     casa  Sup Epa Cento Cinq e T   92.66
24 2023-12-25 00:00:00+03:00     casa  Pet Love*Order10400198   80.51
37 2023-12-06 00:00:00+03:00     casa        Leroy Merlin 5/6  624.98

In [238]:
parse_credit_card_lib.date_to_accrual_month(df['date'][0])

2024/1

In [239]:
new_col = df['date'].apply(parse_credit_card_lib.date_to_accrual_month)

In [240]:
df.insert(1, 'accrual_month', new_col)

In [247]:
parse_credit_card_lib.get_total_by_accrual_month(df)

[autoreload of parse_credit_card_lib failed: Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/IPython/extensions/autoreload.py", line 257, in check
    superreload(m, reload, self.old_objects)
  File "/usr/lib/python3/dist-packages/IPython/extensions/autoreload.py", line 480, in superreload
    update_generic(old_obj, new_obj)
  File "/usr/lib/python3/dist-packages/IPython/extensions/autoreload.py", line 377, in update_generic
    update(a, b)
  File "/usr/lib/python3/dist-packages/IPython/extensions/autoreload.py", line 329, in update_class
    if update_generic(old_obj, new_obj):
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3/dist-packages/IPython/extensions/autoreload.py", line 377, in update_generic
    update(a, b)
  File "/usr/lib/python3/dist-packages/IPython/extensions/autoreload.py", line 289, in update_function
    setattr(old, name, getattr(new, name))
ValueError: __repr__() requires a code object with 0 free vars, not 2
]

TypeError: unhashable type: 'AccrualMonth'